/* basics */
teeby-deeby {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    tr, th, td {
        -webkit-border-horizontal-spacing: 0px;
        -webkit-border-vertical-spacing: 0px;
    }

    table {
        border-radius: 5px;
        background-color: #aaa;
    }

    tr, th, td {
        margin: 1px;
    }

    th, td {
        border: 1px solid gray;
        padding: 8px;
        text-align: left;
        border-radius: 3px;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    tr:nth-child(odd) {
        background-color: white;
    }
    tr:hover {

    }
    th {
        background-color: #555;
        color: white;
    }


    tbody:hover {
        tr {
            filter: brightness(95%);
        }
        tr:hover {
            filter: brightness(110%);
        }
    }
    thead:hover {
        th {
            filter: brightness(95%);
        }
        th:hover {
            filter: brightness(110%);
        }
        /* now change the brightness of the nth-child  in each row */
        tbody {
            brightness: 95%;
        }
    }
    td:hover {
        filter: brightness(120%);
    }
}

/* width levels */
teeby-deeby.wide {
    table {
        width: 100%;
    }
}

teeby-deeby.w80 {
    table {
        width: 80%;
    }
}
teeby-deeby.third {
    table {
        width: 33.3%;
    }
}
teeby-deeby.quarter {
    table {
        width: 25%;
    }
}

/* height levels */
teeby-deeby.scroll {
    table {
        table-layout: fixed;
    }
    table, tbody {
        display: block;
    }
    tbody {
        max-height: 88vh;
        overflow-y: scroll;
    }
}

teeby-deeby.h50 {
    tbody {
        max-height: 50vh;
    }
}

/* padding levels */
teeby-deeby.p16 {
    th, td {
        padding: 16px;
    }
}
teeby-deeby.p12 {
    th, td {
        padding: 12px;
    }
}
teeby-deeby.p8 {
    th, td {
        padding: 8px;
    }
}
teeby-deeby.p4 {
    th, td {
        padding: 4px;
    }
}
teeby-deeby.p2 {
    th, td {
        padding: 2px;
    }
}

/* boder radius levels */
teeby-deeby.round {
    table {
        border-radius: 5px;
    }
    th, td {
        border-radius: 3px;
    }
}
teeby-deeby.soft {
    table {
        border-radius: 3px;
    }
    th, td {
        border-radius: 2px;
    }
}
teeby-deeby.square {
    table, th, td {
        border-radius: 0;
    }
}


/* gap levels */
teeby-deeby.zero {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    table, thead, tr, th, td {
        -webkit-border-horizontal-spacing: 0px;
        -webkit-border-vertical-spacing: 0px;
    }
    th, td {
        border: 0;
    }
}
teeby-deeby.nogap {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    table, thead, tr, th, td {
        -webkit-border-horizontal-spacing: 0px;
        -webkit-border-vertical-spacing: 0px;
    }
}
teeby-deeby.gap1 {
    -webkit-border-horizontal-spacing: 1px;
    -webkit-border-vertical-spacing: 1px;
    table, thead, tr, th, td {
        -webkit-border-horizontal-spacing: 1px;
        -webkit-border-vertical-spacing: 1px;
    }
}
teeby-deeby.gap2 {
    -webkit-border-horizontal-spacing: 2px;
    -webkit-border-vertical-spacing: 2px;
    table, thead, tr, th, td {
        -webkit-border-horizontal-spacing: 2px;
        -webkit-border-vertical-spacing: 2px;
    }
}

/* color schemes */
@media (prefers-color-scheme: dark) {
    table {
        background-color: black;
    }
    th {
        background-color: #212121;
    }
    tr {
        background-color: #616161;
        color: white;
    }
    tr:nth-child(even) {
        background-color: #424242;
    }
}



teeby-deeby.dark {
    table {
        background-color: black;
    }
    th {
        background-color: #212121;
    }
    tr {
        background-color: #616161;
        color: white;
    }
    tr:nth-child(even) {
        background-color: #424242;
    }
}

teeby-deeby.yellow {
    table {
        background-color: darkgoldenrod;
    }
    th {
        background-color: #FFEB3B;
    }
}
teeby-deeby.green {
    table {
        background-color: darkgreen;
    }
    th {
        background-color: #4CAF50;
    }
}
teeby-deeby.blue {
    table {
        background-color: darkblue;
    }
    th {
        background-color: #2196FF;
    }
}
teeby-deeby.purple {
    table {
        background-color: darkpurple;
    }
    th {
        background-color: #9C27B0;
    }
}
teeby-deeby.red {
    table {
        background-color: darkred;
    }
    th {
        background-color: #F44336;
    }
}
teeby-deeby.orange {
    table {
        background-color: darkorange;
    }
    th {
        background-color: #FF9800;
    }
}
teeby-deeby.rainbow {

    /* use tr:nth-child to alternate through rainbow colors */
    th {
        background-color: black;
    }
    tr {
        color: white;
    }
    tr:nth-child(7n+1){
        background-color: red;
    }
    tr:nth-child(7n+2){
        background-color: orange;
        color: black;
    }
    tr:nth-child(7n+3){
        background-color: yellow;
        color: black;
    }
    tr:nth-child(7n+4){
        background-color: green;
    }
    tr:nth-child(7n+5){
        background-color: blue;
    }
    tr:nth-child(7n+6){
        background-color: indigo;
    }
    tr:nth-child(7n+7){
        background-color: violet;
    }


}





/* dark mode colors */
teeby-deeby.dblue {
    table {
        background-color: black;
    }
    th {
        background-color: #003;
    }
    tr {
        background-color: #616161;
        color: white;
    }
    tr:nth-child(even) {
        background-color: #424242;
    }
    td {
        color: white;
    }
}
teeby-deeby.dgreen {
    table {
        background-color: black;
    }
    th {
        background-color: #030;
    }
    tr {
        background-color: #616161;
        color: white;
    }
    tr:nth-child(even) {
        background-color: #424242;
    }
    td {
        color: white;
    }
}
